body { background-color: whitesmoke }

.navbar{
    margin-bottom: 0;
}
.navbar-brand{
    font-size: 24px;
    font-family: 'Abril Fatface', cursive;
}

.btn-success{
    margin-top: 3px;
    padding: 10px;
}


.jumbotron{
    background: url(../img/circuit.jpg);
    opacity: 0.6;
    height: 300px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

.jumbotron h1{
    font-size: 78px;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.article{
    font-family: 'Abril Fatface', cursive;
    color: #3f3f3f;
}

#articles {
    display: inline-block;
    overflow: auto;
    width: 100%;
}

.btn-sm{
    float: right;
    margin-right: 10px;
}

.article-header{
    margin-bottom: 30px;
    border: 1px solid #06b0e6;
}

.article-header h2{
    font-size: 28px;
    background-color: rgba(6,176,230,0.6);
    color: whitesmoke;
    padding: 20px;
    margin-top: 0;
}


.article-info{
    padding-left: 20px;
    padding-bottom: 35px;
}


textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}
input {
    height: 36px;
    font-size: 24px;
}
textarea {
    height: 200px;
    font-size: 18px;
}