body { background-color: whitesmoke }

.navbar{
    margin-bottom: 0;
}
.navbar-brand{
    font-size: 24px;
    font-family: 'Abril Fatface', cursive;
}

.btn-danger{
    margin-top: 3px;
    padding: 10px;
}


.jumbotron{
    background: url(../img/circuit.jpg);
    background-repeat: no-repeat;
    opacity: 0.6;
    height: 300px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

.jumbotron h1{
    font-size: 78px;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
#articles {
    display: inline-block;
    overflow: auto;
}

.panel{
    margin-top: 10px;
}
.btn-sm{
    float: right;
}

.panel-title{
    font-size: 24px;
}
/*#notes {*/
    /*float: right;*/
    /*width: 30%;*/
/*}*/
textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}
input {
    height: 36px;
    font-size: 24px;
}
textarea {
    height: 200px;
    font-size: 18px;
}